body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 250px);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.coming-soon-section {
  padding: 200px 0;
  text-align: center;
}

.underlined-input,
.blue-btn,
.alert {
  border: none;
  outline: none;
  font-size: 16px;
}

.underlined-input {
  color: #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
}

.underlinedInput:focus {
  border-color:#0066f5;
}

.blue-btn {
  background: #0066f5;
  cursor: pointer;
  font-family: inherit;
}

.alert {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.alert.no-distort {
  margin-bottom: -40px;
}

.blue-btn,
.alert  {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.alert-success {
  background: #68bd68;
}

.alert-error {
  background: red;
}

.page-margin {
  margin-top: 75px;
}

.page-header {
  font-size: 40px;
  color: #4a4a4a;
}


.word-item {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(198, 203, 222, 0.45);
  background: #fff;
  margin: 0 0 10px;
  padding: 20px;
  text-align: left;
}

.word-item span{
  background: #0066f5;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.word-item div p{
  margin: 10px 0;
}

.word-item div p,
.word-item span{
  text-transform: capitalize;
}

.word-item div h4 {
  margin-bottom: 10px;
}

.word-item button.pronounce-btn {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
}

.word-item div.pronounciation-div {
  margin: 10px 0 20px;
}

.word-item button.pronounce-btn i {
  font-size: 24px;
}

.word-item button.pronounce-btn:hover i {
  color: #0066f5
}

.word-item .answer-section {
  margin: 30px 0;
}

.word-item .approve-btn {
  padding: 10px;
}