body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 250px);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.coming-soon-section {
  padding: 200px 0;
  text-align: center;
}

.underlined-input,
.blue-btn,
.alert {
  border: none;
  outline: none;
  font-size: 16px;
}

.underlined-input {
  color: #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
}

.underlined-input:focus {
  border-color:#0066f5;
}

.underlined-input:disabled {
  background: #e3e3e3;
}

.blue-btn {
  background: #0066f5;
  cursor: pointer;
  font-family: inherit;
}

.alert {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.alert.no-distort {
  margin-bottom: -40px;
}

.blue-btn,
.alert  {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.alert-success {
  background: #68bd68;
}

.alert-error {
  background: red;
}

.page-margin {
  margin-top: 75px;
}

.page-header {
  font-size: 40px;
  color: #4a4a4a;
}


.word-item {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(198, 203, 222, 0.45);
  background: #fff;
  margin: 0 0 10px;
  padding: 20px;
  text-align: left;
}

.word-item span.word-pos{
  background: #0066f5;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.word-item div p{
  margin: 10px 0;
  min-height: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.word-item div p,
.word-item span.word-pos{
  text-transform: capitalize;
}

.word-item div h4 {
  margin-bottom: 10px;
}

.word-item button.pronounce-btn {
  margin-left: 5px;
}

button.icon-btn {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.word-item div.pronounciation-div {
  margin: 10px 0 20px;
}

button.icon-btn i {
  font-size: 24px;
}

button.icon-btn i.small {
  font-size: 16px;
}

button.icon-btn:hover i {
  color: #0066f5
}

.word-item .answer-section {
  margin: 30px 0;
}

.word-item .approve-btn {
  padding: 10px;
}

.requested-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.requested-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: 0 0.625rem 2.5rem 0 rgba(198, 203, 222, 0.45);
  border-radius: 5px;
  padding: 20px;
}

.requested-item h6{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.requested-item button{
  padding: 10px;
}


.socials-wrapper button {
  border-radius: 50%;
  font-size: 25px;
  margin-right: 5px;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  padding: 3px;
}

.socials-wrapper button:first-of-type {
  background: #38a1f3;
}

.socials-wrapper button:nth-of-type(2) {
  background: #4267b2;
}

.socials-wrapper button:nth-of-type(3) {
  background: rgb(31, 138, 196);
}

.socials-wrapper button:last-of-type {
  background: #0077b5;
}

.form-input-text {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 100%;
}

.error-text {
  color: red;
}

.success-text {
  color: #68bd68;
}

.suggestion-form {
  position: relative;
  display: inline-flex;
}

.suggestion-form input,
.suggestion-form button,
.suggestion-form {
  max-height: 32px;
  font-size: 12px;
}

.suggestion-form input {
  padding: 6px 2px;
  font-size: 16px;
}

.suggestion-form-input-wrapper {
  position: relative;
}

.suggestion-form-input-wrapper .form-input-text {
  font-size: 14px;
}

.site-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-wrapper {
  display: inline;
  margin-left: 5px;
}

.suggestion-wrapper button.close-btn,
  .suggestion-wrapper button.submit-btn {
  margin-left: 16px;
}

button.icon-btn.close-btn:hover i {
  color: red;
}


@media screen and (max-width: 500px) {
  .suggestion-form,
  .word-item div p {
    display: flex;
  }

  .word-item div p {
    flex-wrap: wrap;
  }

  .suggestion-form {
    margin-top: 4px;
    margin-left: -5px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    width: calc(90vw - 40px);
  }

  .suggestion-form-input-wrapper {
    margin-bottom: 20px;
  }

  .suggestion-form-input-wrapper,
  .suggestion-form input {
    width: 100%;
  }

  .suggestion-wrapper button.submit-btn {
    margin-left: 0;
  }

  .suggestion-form-input-wrapper .form-input-text {
    top: 100%;
    font-size: 8px;
  }

  .suggestion-wrapper .alert {
    margin-left: -5px;
  }
}