.footer {
  justify-content: space-between;
  color: #fff;
  position: relative;
  background: #0066f5;
  padding: 20px 0;
}

.footer-section {
  margin: 0 auto 10px;
  width: 90vw;
}

.footer-section h5 {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
  display: block;
  text-decoration: none;
}

.footer-socials {
  margin: 20px 0;
}

.footer-copyright {
  width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  .footer-section {
    margin: 0 auto 10px;
    width: 90vw;
  }
}
