.landing-page-hero {
  height: 500px;
  /* background: url('https://s.abcnews.com/images/Entertainment/HT_body_paint_01_as_160426_16x9_992.jpg') no-repeat center center; */
  /* background-size: cover; */
}

.landing-page-info,
.landing-page-answers {
  width: 500px;
  max-width: 90vw;
  color: #4a4a4a;
}

.landing-page-info h1 {
  margin-top: 0;
}

.landing-page-info form {
  position: relative;
}

.landing-page-info input.underlined-input {
  display: block;
  width: 100%;
  padding: 10px 40px 10px 10px;
}

.landing-page-info form button {
  padding: 0;
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.landing-page-info form button svg {
  height: 25px;
  width: 25px;
}

.landing-page-info form button svg path{
  fill: #4a4a4a;
}

.landing-page-info form button:hover svg path {
  fill: #0066f5;
}

.landing-page-info button.random-btn {
  margin: 20px auto;
  display: block;
}

.landing-page-answers {
  margin: 0 auto 50px;
  position: relative;
  top: -80px;
  text-align: center;
  color: #4a4a4a;
}

.landing-page-answers .contribute-link {
  color: #0066f5;
  text-decoration: underline;
}
